<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Historial de Reservas - EcoHospedajes Rurales</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <header class="site-header">
      <div class="container header-content">
        <div>
          <h1>EcoHospedajes Rurales</h1>
          <p>Reservas en hospedajes rurales de Perú</p>
        </div>
        <nav>
          <a href="#">Inicio</a>
          <a href="#">Catálogo</a>
          <a href="#">Mis reservas</a>
        </nav>
      </div>
    </header>

    <main>
      <h2>Historial de Reservas (Turista)</h2>

      <section>
        <div class="tarjeta-reservas">
          <div class="reserva-header">
            <span>Reservas pasadas</span>
            <span>Reservas activas</span>
            <span>Estado</span>
          </div>

          <div class="reserva-fila">
            <div class="reserva-nombre">
              <strong>El Refugio</strong>
            </div>
            <div class="reserva-fechas">10/02/2024 - 15/02/2024</div>
            <div class="reserva-estado estado-cancelada">Cancelada</div>
          </div>

          <div class="reserva-fila">
            <div class="reserva-nombre">
              <strong>La Cueva</strong>
            </div>
            <div class="reserva-fechas">20/03/2024 - 22/03/2024</div>
            <div class="reserva-estado estado-confirmada">Confirmada</div>
          </div>

          <div class="reserva-fila">
            <div class="reserva-nombre">
              <strong>El Jardín</strong>
            </div>
            <div class="reserva-fechas">20/03/2024 - 22/03/2024</div>
            <div class="reserva-estado estado-confirmada">Confirmada</div>
          </div>
        </div>
      </section>
    </main>
    <footer class="site-footer">
      <div class="footer-content">
        <div class="footer-logo">
          <div>
            <h4>EcoHospedajes Rurales</h4>
            <p>Reservas en hospedajes rurales de Perú</p>
          </div>
        </div>
        <div class="footer-links">
          <div class="contenido-medio">
            <h4>Enlaces Rápidos</h4>
            <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Catálogo</a></li>
              <li><a href="#">Mis reservas</a></li>
              <li><a href="#">Política de Privacidad</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-social">
          <div class="contenido-medio">
            <h4>Síguenos</h4>
            <a href="#">Facebook</a>
            <a href="#">Instagram</a>
            <a href="#">Twitter</a>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2024 EcoHospedajes Rurales. Todos los derechos reservados.</p>
      </div>
    </footer>
  </body>
</html>
