body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  color: #2C5F4E;
}

.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icono {
  width: 45px;
  height: 45px;
  border-radius: 8px;
}

.logo h1 {
  margin: 0;
  font-size: 18px;
  color: #2C5F4E;
}

.logo p {
  margin: 0;
  font-size: 12px;
  color: #435E4F;
}

nav a {
  text-decoration: none;
  color: #2C5F4E;
  margin: 0 10px;
  font-weight: 500;
  transition: color 0.2s;
}

nav a:hover {
  color: #435E4F;
}

.nombre-hospedaje {
  color: #2C5F4E;
  font-size: 26px;
  margin-bottom: 10px;
  font-weight: 700;
}

.detalle {
  display: flex;
  gap: 30px;
  padding: 30px 60px;
  background-color: #ffffff;
  border-radius: 12px;
  max-width: 1000px;
  margin: 30px auto;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.imagenes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.imagenes img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.info {
  flex: 1.2;
}

.info h2 {
  border-bottom: 2px solid #2C5F4E;
  padding-bottom: 5px;
}

.info h3 {
  margin-top: 20px;
  border-bottom: 1px solid #435E4F;
  padding-bottom: 4px;
}

ul {
  list-style: none;
  padding: 0;
  columns: 2;
  margin-top: 10px;
  color: #435E4F;
}

.valoracion {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 18px;
}

.estrellas {
  color: #ffb703;
  margin-right: 6px;
}

.puntaje {
  font-weight: bold;
}

.comentario {
  margin-top: 10px;
  color: #435E4F;
}

.precio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.reservar {
  background-color: #2C5F4E;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.reservar:hover {
  background-color: #435E4F;
}
